
body {
  margin: 0;
  overflow: hidden;
}

header {
  background-color: #909090;
  font-size: 30px;
  text-align: center;
  padding: 20px;
}

#content {
  display: flex;
}

nav {
  width: min-content;
  height: 90vh;
  background: #ddd;
  padding: 10px;
  font-size: 20px;
}

#buttons {
  display: flex;
  padding: 5px;
}

#btnApply, #btnReset {
  margin: 5px;
  padding: 5px;
}

#graphContainer {
  position: relative;
  width: 100%;
}

#graph {
  width: 100%;
  height: 90vh;
}

#nodeText {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 10px;
  margin-left: 50px;
  margin-right: 50px;
  white-space: pre-line;
  overflow-y: auto;
  height: 85vh;
  visibility: hidden;
}
