
body {
  margin: 0;
  overflow: hidden;
}

header {
  background-color: #909090;
  font-size: 30px;
  text-align: center;
  padding: 20px;
}

#content {
  display: flex;
}

nav {
  width: min-content;
  height: 90vh;
  background: #ddd;
  padding: 10px;
  font-size: 20px;
}

.filterinputs {
  display: flex;
  align-items: center;
  gap: 5px;
}

#buttons {
  display: flex;
  padding: 5px;
}

#btnApply, #btnReset, #btnReload {
  margin: 5px;
  padding: 5px;
}

#graphContainer {
  position: relative;
  width: 100%;
}

#graph {
  width: 100%;
  height: 90vh;
}

#nodeText {
  position: absolute;
  left: 0;
  top: 0;
  width: 90%;
  padding: 10px;
  margin-left: 50px;
  margin-right: 50px;
  white-space: pre-line;
  overflow-y: auto;
  height: 85vh;
  visibility: hidden;
}

.tag {
  font-size: 12px;
  display: inline-block;
  padding: 2px 3px;
  margin: 3px;
  background-color: #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.tag.selected {
  background-color: #007bff;
  color: #fff;
}

.switch {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 1px;
  top: 1.5px;
  background-color: white;
  transition: 0.2s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #909090;
}

input:checked + .slider:before {
  transform: translateY(8px);
}
